.form-group {
  position: relative;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #888;
  transition: 0.3s;
  pointer-events: none;
}

.form-group.active label {
  top: -10px;
  font-size: 0.85rem;
  color: #1abc9c;
}

.form-control {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.form-control:focus {
  border-color: #1abc9c;
  box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.25);
  border:0;
}
